# Database
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=animethemes
DB_USERNAME=root
DB_PASSWORD=
FORWARD_DB_PORT=

# Files
AUDIO_URL=https://a.animethemes.moe
IMAGE_URL=
SCRIPT_URL=https://script.animethemes.moe
VIDEO_URL=https://v.animethemes.moe

# Typesense
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=
FORWARD_TYPESENSE_PORT=