# Database
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=animethemes
DB_USERNAME=root
DB_PASSWORD=
FORWARD_DB_PORT=

# Typesense
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=
FORWARD_TYPESENSE_PORT=